# Python
__pycache__/
*.pyc
*.pyo

# Model files
*.pth
*.pt
*.onnx

# Environment
.env
*.DS_Store

# Colab/Notebook artifacts
.ipynb_checkpoints/
*.csv
*.json
*.zip

# IDEs
.vscode/
.idea/

# Ignore all model files except these
/model/*
!/model/tomato_disease_classifier_confidence.pt
!/model/tomato_disease_classifier_confidence.pth
!/model/class_names.json
!/model/treatment_advice.json

mobile/lib/firebase_options
